################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebProject/bin
/WebProject/bin
/WebProject/node_modules
/WebProject/obj/Debug
/packages
/.vs
/WebProject/ApplicationInsights.config
/WebProject/app/app.module.js.map
/WebProject/app/app.module.js
/WebProject/app/security/SecurityInfo.js.map
/WebProject/app/security/SecurityInfo.js
/WebProject/app/app.security.js
/WebProject/app/app.security.service.js.map
/WebProject/app/app.security.service.js
/WebProject/app/app.security.js.map
