################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebProject/bin
/WebProject/bin
/WebProject/node_modules
/WebProject/obj/Debug
/packages
/.vs
/WebProject/ApplicationInsights.config
/WebProject/app/app.module.js.map
/WebProject/app/app.module.js
